@tailwind base;
@tailwind components;
@tailwind utilities;

.tool-link {
	@apply underline text-blue-500 hover:text-blue-400;
}

.tool-container {
	display: flex;
}

.tool-input {
	padding: 0.75rem 1rem;
	border-top-left-radius: 0.75rem;
	border-bottom-left-radius: 0.75rem; 
	border-width: 2px; 
	border-right-width: 0; 
	width: 100%; 
	line-height: 1.25rem;
	outline-style: none; 
	@apply border-gray-300 focus:border-gray-700;
}

.tool-btn {
	@apply min-w-36 rounded-r-xl bg-gray-700 px-4 py-3 text-white hover:bg-gray-600 active:bg-gray-800;
}

.autohide {
	animation: hideAnim 5s forwards;
	opacity: 1;
}
@keyframes hideAnim {
	0%   {opacity: 1;}
	90%  {opacity: 1;}
	100% {opacity: 0;}
}
